__pycache__
parametros.py
API.py
prueba.py

uninstall.py

venv

#Flutter:
android/
ios/
linux/
macos/
test/
web/
windows/
.metadata
analysis_options.yaml
pubspec.lock
pubspec.yaml
Client/client_flutter/README.md
Client/client_flutter/.gitignore
parametros.dart


LOGO.png
LOGO(sin fondo).png